* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}
main {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    border-radius: 20px;
    background-color: rgb(82, 82, 82);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
    h4 {
      font-size: 0.8rem;
      font-weight: 300;
      text-align: center;
    }
    h3 {
      text-align: center;
      font-size: 1rem;
      span {
        color: rgb(23, 177, 228);
      }
    }
    .outer {
      height: 15px;
      width: 100%;
      background-color: rgb(154, 154, 154);
      border-radius: 20px;
      .inner {
        background-color: lightgreen;
        height: 15px;
        width: 0%;
        border-radius: 20px;
      }
    }
    .bottom {
      display: flex;
      justify-content: space-between;
      h2 {
        font-size: 1.5rem;
        font-weight: 300;
      }
      div {

        button {
          border: none;
          background-color: lightgreen;
          padding: 0.4rem 1rem;
          border-radius: 20px;
        }
      }
    }
  }
}
